h1{
color:red;
font-family:cursive;
}
body{
		text-align:;
		color:blue;
		background-image:url("ww.jpg");
		
		background-size:cover;
		font-family:candara;
		font-size:18px;
		margin-top:250px;
		margin-left:350px;
}