
body {margin:0;}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }

}


h1{
	font-family: 'Lobster', cursive;
	src:url(https://fonts.google.com/?selection.family=Lobster);
	color: #cecbcb;
	font-size: 66px;
	padding: 10%;
	margin: 0;
	background-image: url("siteHost.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	backface-visibility: hidden;
}

button{
	background-image: url(login.png);
	color: white;
	padding: 90px 20px;
	margin: 5% 11%;
	border: none;
	cursor: pointer;
	width: 80%;
	font-size: 48px;
}

button:hover{
	opacity: 0.7;
}

.card_horizontal{
	box-shadow: 25px 20px 20px 0px rgba(0,0,0,0.2);
    transition: 0.4s;
    width: 25%;
    margin: 25px 25px;
}
.card_horizontal{
	border-radius: 15px 15px;
}

img{
	border-radius: 5px 0 0 5px;
	height: 100%;
	width: 100%;
	float: left;
}
.card_horizontal:hover{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.card-content{
	float: left;
	position: relative;
	top: 40%;
transform: translateY(0%);
text-align: center;
}
.card-action{
transform: translateY(-40%);
	float: left;
	position: relative;
	top: 20%;
	text-align: center;
}
.card_horizontal {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }


.card_horizontal a{
	text-decoration: none;
	color: black;
}
.card-image{
	position: relative;
	width: 100%;

}


.card_horizontal2{
	box-shadow: 19px 10px 10px 0px rgba(0,0,0,0.2);
    transition: 0.4s;
    width: 25%;
    margin: 50px 25px;
    position: relative;
}

.card_horizontal2{
	border-radius: 15px 15px;
}

.card_horizontal2 img{
	border-radius: 5px 0 0 5px;
	height: 100%;
	width: 100%;
	float: left;
}
.card_horizontal2:hover{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.card-content2{
	float: left;
	position: relative;
	top: 40%;
transform: translateY(15%);
text-align: center;
text-decoration: none;
color: black;
}

.card_horizontal2 {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

.card-image2{
	width: 100%;

}